<html>
    <head>
        <title>算法提交 | 绿洲气象观测站</title>
        <script type="text/javascript" src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/blueimp-md5/2.18.0/js/md5.min.js"></script>
        <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EFRP4XN134"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-EFRP4XN134');
        </script>
        <style>
            body {
                text-align: center;
            }

            /* -- Algorithm card -- */
            .algorithmCardDiv {
                width: 80px;
                margin: 6px 3px;
                display: inline-block;
                text-align: center;
                border: 1px solid #bdbdbd;
                border-radius: 3px;
                -webkit-box-shadow: 0px 1px 2px 0 rgb(34 36 38 / 15%);
                box-shadow: 0px 1px 2px 0 rgb(34 36 38 / 15%);
            }

            img.algorithmImg {
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 82%;
                background-color: #bdbdbd;
            }

            .algorithmCardDiv.notInTurn {
                display: none;
            }

            .algorithmCardDiv .image{
                user-select: none;
                cursor: pointer;
            }

            .algorithmCardButton {
                color: #292929 !important;
                font-weight: bold;
                user-select: none;
            }

            .algorithmCardContent {
                padding: 2px 0px;
                font-weight: bold;
            }
            
            /* -- Semantic UI -- */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button{
                -webkit-appearance: none !important;
                margin: 0;
            }

            .ui.segment {
                width: 100%;
                max-width: 900px;
                margin: 20px auto;
            }

            .inTurnTypeSelect{
                display: block;
            }

            div#algorithmSelectDiv {
                width: 100%;
                max-width: fit-content;
                margin: 10px auto;
                padding: 10px;
                text-align: center;
            }

            .algorithmLine div {
                margin-right: 5px;
            }

            .algorithmLine {
                margin: auto;
                margin-bottom: 15px;
                width: fit-content;
            }
            
            .ui.modal .content{
                text-align: center;
            }

            .ui.menu.sidebar {
                text-align: left;
                font-size: 16px;
            }

            div#sidebarButton {
                float: left;
            }

            h1.ui.header {
                text-align: right;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="ui left vertical menu sidebar">
            <div class="item">
                <div class="header">绿洲气象观测站</div>
                <div class="menu">
                    <a class="item" href="/">首页</a>
                </div>
            </div>
            <div class="item">
                <div class="header">算法</div>
                <div class="menu">
                  <a class="item" href="/algorithm">数据提交</a>
                  <a class="item" href="/algorithm/query">掉落查询</a>
                  <a class="item" href="/algorithm/display">近期提交记录</a>
                </div>
            </div>
            <div class="item">
                <div class="header">心智碎片</div>
                <div class="menu">
                <a class="item" href="/mind">数据提交</a>
                <a class="item" href="/mind/display">数据展示</a>
                </div>
            </div>
            <div class="item">
                <div class="header">基础检索</div>
                <div class="menu">
                <a class="item" href="/retrieval">数据提交</a>
                <a class="item" href="/retrieval/screenshot">截图识别</a>
                <a class="item" href="/retrieval/query">数据统计</a>
                <a class="item" href="/retrieval/display">近期提交记录</a>
                </div>
            </div>
        </div>
        <div class="pusher">
            <br/>
            <div class="ui segment">
                <div class="ui basic button" id="sidebarButton">
                    <i class="th list icon"></i>
                    Menu
                </div>
                <h1 class="ui header">
                    <div class="content">
                        算法提交
                    </div>
                </h1>
            </div>
            <div class="ui segment">
                <div id="algorithmSelectDiv">
                    <div class="field">
                        <div class="ui label">
                            金色算法
                        </div>
                        <div class="ui label">
                            算法掉落类型选择
                        </div>
                        <select class="ui dropdown"  id="inTurnTypeSelect">
                            <option value="1">周一</option><!--（代码封装，机器学习，感知，启发）-->
                            <option value="2">周二</option><!--（最小阈值，补码溢出，前馈，理性）-->
                            <option value="3">周三</option><!--（正向反馈，支持向量，渐进，连结）-->
                            <option value="4">周四</option><!--（矢量加速，矩阵结构，卷积，推演）-->
                            <option value="5">周五</option><!--（数据复原，异相回归，集束，博弈）-->
                            <option value="6">周六/日</option><!--（所有套装算法）-->
                        </select><br/>
                    </div>

                    <div id="algorithmAllDiv"></div>
                </div>

                <div class="ui horizontal divider">
                    Algorithm
                </div>

                <!-- 下面是算法创建和选择的位置 -->
                <div id="algorithmDataAllDiv"></div>

                <div class="ui error message algorithmDataErrorMessage" style="display: none;">
                    <div class="header">提交失败</div>
                    <p>当所需的全部信息都为合法值时，您的数据才可以被提交。</p>
                </div>

                <div class="ui action right labeled input">
                    <div class="ui basic label">次数</div>
                    <input id="doNumber" type="number" placeholder="出击次数..." value="0" min="1" step="1">
                    <button class="ui icon button numberMinus">
                        <i class="minus icon"></i>
                    </button>
                    <button class="ui icon button numberPlus">
                        <i class="plus icon"></i>
                    </button>
                </div>
                <button class="ui button" id="algorithmClear" onclick="algorithmDelete();">清空</button>
                <button class="ui primary button" id="algorithmSubmit">提交</button>
            </div>
            <a href="https://beian.miit.gov.cn/" style="position: fixed; bottom: 10px; right: 20px; color: #888;">
                冀ICP备2021026039号-1
            </a>

            <!-- 下面是提示框的设计 -->
            <div class="ui tiny modal algorithmModal">
                <div class="ui icon header">
                    <i class="envelope icon"></i>Message
                </div>
                <div class="content">
                    <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
                </div>
                <div class="actions">
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    Yes
                </div>
                </div>
            </div>
        </div>
    </body>
    <!--<a href="/algorithm/display" id="algorithmDisplay">查看历史数据</a>--->
    <script>
        var algorithm = {
            "1_1": {
                "name": "最小阈值",
                "inTurn": 2,
                "position": 3,
                "attribute": 1,
            },
            "1_2": {
                "name": "数据复原",
                "inTurn": 5,
                "position": 3,
                "attribute": 1,
            },
            "1_3": {
                "name": "异相回归",
                "inTurn": 5,
                "position": 3,
                "attribute": 1,
            },
            "1_4": {
                "name": "前馈",
                "inTurn": 2,
                "position": 2,
                "attribute": 1,
            },
            "1_5": {
                "name": "渐进",
                "inTurn": 3,
                "position": 2,
                "attribute": 1,
            },
            "1_6": {
                "name": "推演",
                "inTurn": 4,
                "position": 2,
                "attribute": 1,
            },
            "2_1": {
                "name": "代码封装",
                "inTurn": 1,
                "position": 3,
                "attribute": 2,
            },
            "2_2": {
                "name": "机器学习",
                "inTurn": 1,
                "position": 3,
                "attribute": 2,
            },
            "2_3": {
                "name": "补码溢出",
                "inTurn": 2,
                "position": 3,
                "attribute": 2,
            },
            "2_4": {
                "name": "感知",
                "inTurn": 1,
                "position": 2,
                "attribute": 2,
            },
            "2_5": {
                "name": "理性",
                "inTurn": 2,
                "position": 2,
                "attribute": 2,
            },
            "2_6": {
                "name": "连结",
                "inTurn": 3,
                "position": 2,
                "attribute": 2,
            },
            "3_1": {
                "name": "正向反馈",
                "inTurn": 3,
                "position": 3,
                "attribute": 3,
            },
            "3_2": {
                "name": "支持向量",
                "inTurn": 3,
                "position": 3,
                "attribute": 3,
            },
            "3_3": {
                "name": "矢量加速",
                "inTurn": 4,
                "position": 3,
                "attribute": 3,
            },
            "3_4": {
                "name": "矩阵结构",
                "inTurn": 4,
                "position": 3,
                "attribute": 3,
            },
            "3_5": {
                "name": "集束",
                "inTurn": 5,
                "position": 2,
                "attribute": 3,
            },
            "3_6": {
                "name": "启发",
                "inTurn": 1,
                "position": 2,
                "attribute": 3,
            },
            "3_7": {
                "name": "卷积",
                "inTurn": 4,
                "position": 2,
                "attribute": 3,
            },
            "3_8": {
                "name": "博弈",
                "inTurn": 5,
                "position": 2,
                "attribute": 3,
            },
            "4_1": {
                "name": "单件A区",
                "inTurn": 0,
                "position": 1,
                "attribute": 4,
            },
            "4_2": {
                "name": "单件B区",
                "inTurn": 0,
                "position": 1,
                "attribute": 5,
            },
            "4_3": {
                "name": "单件C区",
                "inTurn": 0,
                "position": 1,
                "attribute": 6,
            }
        }

        var attributeList = {
            1: [1, 2, 3, 4, 5, 6, 7, 8],
            2: [9, 10, 11, 12, 13, 14, 15],
            3: [11, 12, 13, 14, 16, 17, 18, 19],
            4: [20, 21, 22, 23, 24, 25, 26, 27],
            5: [28, 29, 30, 31, 32, 33, 34],
            6: [30, 31, 32, 33, 35, 36, 37, 38]
        }

        var attribute = {
            1: "攻击力 12%",
            2: "攻击力 54",
            3: "算力 12%",
            4: "算力 54",
            5: "物理穿透 7.2%",
            6: "物理穿透 20",
            7: "算量穿透 7.2%",
            8: "算量穿透 20",

            9: "最大生命 12%",
            10: "最大生命 1800",
            11: "物理防御 7.2%",
            12: "物理防御 56",
            13: "算量防御 7.2%",
            14: "算量防御 56",
            15: "战后生命恢复 720",

            16: "暴击率 8%",
            17: "暴击伤害 16%",
            18: "治疗效果 4%",
            19: "技能急速 8%",

            20: "攻击力 6%",
            21: "攻击力 27",
            22: "算力 6%",
            23: "算力 27",
            24: "物理穿透 3.6%",
            25: "物理穿透 10",
            26: "算量穿透 3.6%",
            27: "算量穿透 10",

            28: "最大生命 6%",
            29: "最大生命 900",
            30: "物理防御 3.6%",
            31: "物理防御 28",
            32: "算量防御 3.6%",
            33: "算量防御 28",
            34: "战后生命恢复 360",

            35: "暴击率 4%",
            36: "暴击伤害 8%",
            37: "治疗效果 2%",
            38: "技能急速 4%",
        }

        initial();
        function initial(){
            $('.ui.modal').modal();
            $('.ui.dropdown').dropdown();
            $("#algorithmSubmit").click(algorithmSubmit);

            // create algorithm icon div
            let element = ``;
            for(let key in algorithm){
                let icon = `Icon_算法套装_${algorithm[key]['name']}.png`;
                let wikipath = "http://wiki.42lab.cloud/images"
                let md5path = md5(icon).slice(0,2);
                element += `<div class="card algorithmCardDiv" data-id="${key}"><div class="blurring dimmable image algorithmCardImage" data-id="${key}">`;
                element += `<div class="ui inverted dimmer"><div class="content"><div class="center algorithmCardButton">添加</div></div></div>`;
                element += `<img class="algorithmImg" src="${wikipath}/d/d2/Blank.png" style="background-image:url(${wikipath}/${md5path[0]}/${md5path}/${icon}); "`;
                element += `\/></div><div class="content algorithmCardContent">${algorithm[key]['name']}<\/div><\/div>`;
            }
            $("#algorithmAllDiv").append(element);

            // Semantic UI dimmer
            $('.cards.algorithmCardDiv .image').dimmer({
                on: 'hover'
            });

            // day in a week
            $("#inTurnTypeSelect").change(function(){
                inTurnTypeSelectChange();
                algorithmDelete();
            });
            let date = new Date();
            let dat_target = weekTypeHandle(date.getDay(), date.getHours());
            $("#inTurnTypeSelect").val(dat_target);
            $("#inTurnTypeSelect").parent().children(".text").html($("#inTurnTypeSelect option:selected").text());
            $("#inTurnTypeSelect").parent().children(".menu").children(".active.selected").removeClass("active").removeClass("selected");
            $("#inTurnTypeSelect").parent().children(".menu").children(".item[data-value='"+ dat_target +"']").addClass("active").addClass("selected");
            inTurnTypeSelectChange();
            
            // add algorithmLine
            $(".algorithmCardImage").click(function(){
                let algorithmType = $(this).data("id");
                $("#algorithmDataAllDiv").append(creatAlgorithmLine(algorithmType));
                $(".algorithmLineDelete").unbind("click").click(function(){
                    $(this).parent(".algorithmLine").remove();
                });
                $('.ui.dropdown').dropdown();
            });

            /* -- Semantic UI -- */
            $(".numberMinus").click(function(){
                let this_val = Number($(this).parent().children("input").val());
                if(this_val <= 1) return;
                else  $(this).parent().children("input").val(this_val - 1);
            });
            $(".numberPlus").click(function(){
                let this_val = Number($(this).parent().children("input").val());
                $(this).parent().children("input").val(this_val + 1);
            });

            /* sidebar */
            $("#sidebarButton").click(function(){
                $('.menu.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
            });
        }

        function weekTypeHandle(day, hour){
            if(day == 1 && hour < 5) return "6"
            else if(day == 0) return "6"
            else if(hour < 5) return String(day - 1)
            else return String(day)
        }

        function inTurnTypeSelectChange(){
            let type = Number($("#inTurnTypeSelect").val());
            let element = $(".algorithmCardDiv");
            for(let i = 0; i < element.length; i ++){
                let thisTurnId = algorithm[$(element[i]).data("id")]['inTurn'];
                if(thisTurnId == 0 || type == 6) $(element[i]).removeClass("notInTurn");
                else if(thisTurnId == type) $(element[i]).removeClass("notInTurn");
                else $(element[i]).addClass("notInTurn");
            }
            
            // Semantic UI dimmer
            $('.algorithmCardDiv .image').dimmer({
                on: 'hover'
            });
        }

        function creatAlgorithmLine(algorithmType) {
            let dom = `<div class="algorithmLine" data-id="${algorithmType}">`;
            let length_now = $(".algorithmLine").length
            /* dom += `<div class="ui circular label algorithmLineLabel">${(length_now) ? length_now + 1 : 0}</div>`; */

            dom += `<div class="ui search selection dropdown"><input class="algorithmLinePosSelect" type="hidden" name="position"><i class="dropdown icon"></i>`;
            dom += `<div class="default text">${algorithm[algorithmType]['name']}-选择位置</div>`;
            dom += `<div class="menu">`;
            for(let i = 0; i < algorithm[algorithmType]['position']; i ++){
                dom += `<div class="item" data-value="${i + 1}">${algorithm[algorithmType]['name']}-${i + 1}</div>`;
            }
            dom += `</div></div>`;
            
            let algorithmAttr = attributeList[algorithm[algorithmType]['attribute']];
            dom += `<div class="ui selection dropdown"><input class="algorithmLineTypeSelect" type="hidden" name="position"><i class="dropdown icon"></i>`;
            dom += `<div class="default text">请选择主属性</div>`;
            dom += `<div class="menu">`;
            for(let i = 0; i < algorithmAttr.length; i ++){
                dom += `<div class="item" data-value="${algorithmAttr[i]}">${attribute[algorithmAttr[i]]}</div>`;
            }
            dom += `</div></div>`;

            dom += `<button class="ui button algorithmLineDelete">删除条目</button>`;
            dom += `<\/div>`;
            
            return dom
        }

        function algorithmDelete(){
            $(".algorithmLine").remove();
        }

        function algorithmSubmit(){
            $("#algorithmSubmit").unbind("click").addClass("loading");

            let algorithmLineData = $(".algorithmLine");
            let algorithmData = {
                "doNumber": $("#doNumber").val(),
                "inTurnType": $("#inTurnTypeSelect").val(),
                "algorithm": []
            }

            let dataPass = true;
            $(".ui.algorithmDataErrorMessage").addClass("error").hide();
            for(let i = 0; i < algorithmLineData.length; i ++){
                let this_id = $(algorithmLineData[i]).data("id");
                let this_type = $(algorithmLineData[i]).children().children(".algorithmLineTypeSelect");
                let this_pos = $(algorithmLineData[i]).children().children(".algorithmLinePosSelect");
                
                if(!this_pos.val()){
                    this_pos.parent(".ui.dropdown").addClass("error");
                    dataPass = false;
                }
                if(!this_type.val()){
                    this_type.parent(".ui.dropdown").addClass("error");
                    dataPass = false;
                }
                if(String(algorithm[this_id]["inTurn"]) != algorithmData["inTurnType"] && algorithmData["inTurnType"] != "6" && String(algorithm[this_id]["inTurn"]) != "0"){
                    notice(`非常抱歉，您输入的算法和当前选择的日期不符合。<br>您选择的日期：周${algorithmData["inTurnType"]}，您选择的算法：周${algorithm[this_id]["inTurn"]}。<br>如果这是BUG，欢迎教授对遇到的问题进行反馈。`, 
                        "<i class='frown outline icon'></i>Error!");
                    this_pos.parent(".ui.dropdown").addClass("error");
                    this_type.parent(".ui.dropdown").addClass("error");
                    dataPass = false;
                }

                algorithmData['algorithm'].push({
                    "id": $(algorithmLineData[i]).data("id"),
                    "mainAttr": this_type.val(),
                    "position": this_pos.val(),
                });
            }

            console.log(algorithmData);
            algorithmData['algorithm'] = JSON.stringify(algorithmData['algorithm']);

            if(Number(algorithmData['doNumber']) < 1){
                $("#doNumber").parent(".ui.labeled.input").addClass("error");
                dataPass = false;
            }

            if(!dataPass){
                $("#algorithmSubmit").removeClass("loading").click(algorithmSubmit);
                $(".ui.algorithmDataErrorMessage").fadeIn(200);
                $(".error").unbind("click").click(function(){
                    $(this).removeClass("error");
                });
                return
            }

            $.ajax({
                url: "algorithm/submit",
                type: "POST",
                data: algorithmData,
                success: function (result) {
                    if(result.message == "success"){
                        algorithmDelete();
                        $("#doNumber").val(0);
                        notice("提交成功，感谢教授的贡献！", "<i class='thumbs up icon'></i>Good Job, Professor!");
                    } else {
                        notice("提交失败，" + result.message, "<i class='exclamation triangle icon'></i>Error!");
                    }
                    $("#algorithmSubmit").removeClass("loading").click(algorithmSubmit);
                }
            });
        }

        function notice(text, icon){
            if(icon) $(".algorithmModal").children(".ui.icon.header").html(icon);
            $(".algorithmModal").children(".content").children("p").html(text);
            $('.ui.modal').modal('show');
        }
    </script>
</html>