<html>
    <head>
        <title>算法掉落查询 | 绿洲气象观测站</title>
        <script type="text/javascript" src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EFRP4XN134"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-EFRP4XN134');
        </script>
        <style>
            .ui.pointing.menu {
                width: 100%;
                max-width: 900px;
            }

            .ui.segment {
                width: 100%;
                max-width: 900px;
                margin: 20px auto;
            }

            #algorithmTable {
                max-width: 700px;
                margin: auto;
            }

            .ui.checkbox.algorithmCheck {
                display: block;
                margin-top: 5px;
            }

            .checkboxDisable {
                position: relative;
                background: #FFFFFF;
                margin-bottom: 0.5em;
                padding: 0.1em 0.1em;
                font-weight: bold;
            }

            tr.algorithmSingle:hover {
                background-color: rgb(136 136 136 / 13%);
            }

            div#sidebarButton {
                float: left;
            }

            .ui.menu.sidebar {
                text-align: left;
                font-size: 16px;
            }

            h1.ui.header {
                text-align: right;
                margin: auto;
            }
            
            .pusher {
                text-align: center;
            }

            label {
                text-align: left;
            }

            .ui.header .content {
                font-weight: normal;
                letter-spacing: 10px;
            }
        </style>
    </head>
    <body>
        <div class="ui left vertical menu sidebar">
            {% for menu in menu_list %}
                <div class="item">
                    <div class="header">{{ menu.name }}</div>
                    <div class="menu">
                        {% for item in menu.child %}
                            <a class="item" href="{{ item.href }}">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pusher">
            <br/>
            <div class="ui segment">
                <div class="ui basic button" id="sidebarButton">
                    <i class="th list icon"></i>
                    Menu
                </div>
                <h1 class="ui header">
                    <div class="content">
                        算法掉落查询
                    </div>
                </h1>
            </div>
            <div class="ui segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <div class="ui segment" id="nameCheckBox">
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="ui toggle checkbox checkboxDisable" id="nameCheckBoxDisable">
                                        <input type="checkbox" name="public">
                                        <label>选择算法名称</label>
                                    </div>
                                    <div class="ui mini buttons">
                                        <button class="mini ui toggleButton button">反选</button>
                                        <button class="mini ui positiveButton button">全选</button>
                                        <button class="mini ui negativeButton button">清除</button>
                                    </div>
                                    <div class="ui horizontal divider">
                                        Name
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment" id="posCheckBox">
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="ui toggle checkbox checkboxDisable" id="posCheckBoxDisable">
                                        <input type="checkbox" name="public">
                                        <label>选择算法位置</label>
                                    </div>
                                    <div class="ui mini buttons">
                                        <button class="mini ui toggleButton button">反选</button>
                                        <button class="mini ui positiveButton button">全选</button>
                                        <button class="mini ui negativeButton button">清除</button>
                                    </div>
                                    <div class="ui horizontal divider">
                                        Position
                                    </div>
                                    <div class="ui checkbox algorithmCheck" id="algorithmPos_1">
                                        <input type="checkbox" class="algorithmPosCheck" checked="checked">
                                        <label>位置-1</label>
                                    </div>
                                    <div class="ui checkbox algorithmCheck" id="algorithmPos_2">
                                        <input type="checkbox" class="algorithmPosCheck" checked="checked">
                                        <label>位置-2</label>
                                    </div>
                                    <div class="ui checkbox algorithmCheck" id="algorithmPos_3">
                                        <input type="checkbox" class="algorithmPosCheck" checked="checked">
                                        <label>位置-3</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment" id="statsCheckBox">
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="ui toggle checkbox checkboxDisable" id="statsCheckBoxDisable">
                                        <input type="checkbox" name="public">
                                        <label>选择算法主属性</label>
                                    </div>
                                    <div class="ui mini buttons">
                                        <button class="mini ui toggleButton button">反选</button>
                                        <button class="mini ui positiveButton button">全选</button>
                                        <button class="mini ui negativeButton button">清除</button>
                                    </div>
                                    <div class="ui horizontal divider">
                                        Double Grids
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="twelve wide column">
                        <div class="ui pointing menu">
                            <a class="item weekType" id="weekType1">周一</a>
                            <a class="item weekType" id="weekType2">周二</a>
                            <a class="item weekType" id="weekType3">周三</a>
                            <a class="item weekType" id="weekType4">周四</a>
                            <a class="item weekType" id="weekType5">周五</a>
                            <a class="item weekType" id="weekType6">周六/日</a>
                            <a class="item weekType active" id="weekType7">全部</a>
                        </div>
                        <table id="algorithmTable" class="ui single line table">
                            <thead>
                                <tr>
                                    <th>周期</th>
                                    <th>名称</th>
                                    <th>位置</th>
                                    <th>主属性</th>
                                    <th>获取</th>
                                    <th>算法数</th>
                                    <th>频率</th>
                                    <th>采集数</th>
                                    <th>掉率</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for algorithm in algorithm_list %}
                                    <tr class="algorithmSingle"
                                        data-week="{{ algorithm.week }}"
                                        data-name-id="{{ algorithm.name_id }}"
                                        data-pos="{{ algorithm.pos }}"
                                        data-stats-id="{{ algorithm.stats_id }}"
                                        data-getnum="{{ algorithm.getNum }}"
                                        data-allnum="{{ algorithm.allNum }}"
                                        data-donum="{{ algorithm.doNum }}">
                                        <td>{{ algorithm.week }}</td>
                                        <td>{{ algorithm.name }}</td>
                                        <td>{{ algorithm.pos }}</td>
                                        <td>{{ algorithm.stats }}</td>
                                        <td>{{ algorithm.getNum }}</td>
                                        <td>{{ algorithm.allNum }}</td>
                                        <td>{{ algorithm.drop }}</td>
                                        <td>{{ algorithm.doNum }}</td>
                                        <td>{{ algorithm.frequent }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <a target="_blank" href="https://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;margin: 5px 10px;">
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    冀ICP备2021026039号-1 
                </p>
            </a>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13020302001036" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;margin: 5px 10px;">
                <img src="" style="float:left;">
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    冀公网安备 13020302001036号
                </p>
            </a>
        </div>
    </body>
    <script>
        var algorithm;
        var attributeList;
        var attribute;
        
        fetch('/json/algorithm').then(response => response.json()).then(data => algorithm = data).then(() => {fetchJudge();});
        fetch('/json/attributeList').then(response => response.json()).then(data => attributeList = data).then(() => {fetchJudge();});
        fetch('/json/attribute').then(response => response.json()).then(data => attribute = data).then(() => {fetchJudge();});

        function fetchJudge(){
            if(algorithm && attributeList && attribute) initialData();
        }

        var algorithmData = [];
        var algorithmElementData = $(".algorithmSingle");
        var choiceStatus = {
            "weekType": 7,
            "nameDisable": false,
            "posDisable": false,
            "statsDisable": false,
        }

        function initialData(){
            for(let i in algorithm) choiceStatus["algorithmId_" + i] = true;
            for(let i in [1,2,3]) choiceStatus["algorithmPos_" + String(Number(i) + 1)] = true;
            for(let i in attribute) choiceStatus["algorithmStatsId_" + i] = true;

            for(let i = 0; i < algorithmElementData.length; i++){
                algorithmData.push({
                    "week": $(algorithmElementData[i]).data("week"),
                    "name_id": $(algorithmElementData[i]).data("name-id"),
                    "pos": $(algorithmElementData[i]).data("pos"),
                    "stats_id": $(algorithmElementData[i]).data("stats-id"),
                    "getnum": Number($(algorithmElementData[i]).data("getnum")),
                    "allnum": Number($(algorithmElementData[i]).data("allnum")),
                    "donum": Number($(algorithmElementData[i]).data("donum")),
                });
            }

            initialCheckBox();
            initialTrigger();
        }

        function initialCheckBox(){
            let group_1 = $("#nameCheckBox").children(".ui.form").children(".grouped.fields");
            for(let algorithm_id in algorithm){
                group_1.append(`<div class="ui checkbox algorithmCheck" id="algorithmId_${algorithm_id}"><input type="checkbox" class="algorithmNameCheck" checked="checked">
                    <label>${algorithm[algorithm_id]['name']}</label></div>`);
            }

            let group_3 = $("#statsCheckBox").children(".ui.form").children(".grouped.fields");
            for(let stats in attribute){
                if(stats == 20) group_3.append(`<div class="ui horizontal divider">Single Grid</div>`);
                group_3.append(`<div class="ui checkbox algorithmCheck" id="algorithmStatsId_${stats}"><input type="checkbox" class="algorithmStatsCheck" checked="checked">
                    <label>${attribute[stats]}</label></div>`);
            }
            
            /* when user check the button, redraw dom */
            $('.checkbox.algorithmCheck').checkbox({
                onChecked: function() {
                    updateDom();
                },
                onUnchecked: function() {
                    updateDom();
                }
            });
        }

        function updateCheckBox(){
            let attributeListHas = {1:0, 2:0, 3:0, 4:0, 5:0, 6:0};
            for(let algorithm_id in algorithm){
                if(algorithm[algorithm_id]['inTurn'] == choiceStatus.weekType || algorithm[algorithm_id]['inTurn'] == 0 || choiceStatus.weekType == 7 || choiceStatus.weekType == 6){
                    $(`#algorithmId_${algorithm_id}`).show().checkbox("set checked");
                    attributeListHas[Number(algorithm[algorithm_id]['attribute'])] = 1;
                } else $(`#algorithmId_${algorithm_id}`).hide().checkbox("set unchecked");
            }

            let attributePushedList = [];
            for(let num in attributeListHas){
                for(let i in attributeList[Number(num)]){
                    if(attributeListHas[num]){
                        attributePushedList.push(attributeList[Number(num)][i]);
                        $(`#algorithmStatsId_${attributeList[Number(num)][i]}`).show().checkbox("set checked");
                    }
                    else if(!(attributeList[Number(num)][i] in attributePushedList)) $(`#algorithmStatsId_${attributeList[Number(num)][i]}`).hide().checkbox("set unchecked");
                }
            }
        }

        function initialTrigger(){
            /* weekType chose */
            $(".weekType").click(function(){
                choiceStatus["weekType"] = Number($(this).attr('id').replace("weekType", ""));
                $(".weekType").removeClass("active");
                $(this).addClass("active");
                updateCheckBox();
                updateDom();
            });

            /* name pos stats up-down relation */
            $('.toggle.checkbox.checkboxDisable').checkbox({
                onChecked: function() {
                    $(this).parent().parent().children(".mini.buttons").checkbox("set enabled");
                    $(this).parent().parent().children(".ui.checkbox.algorithmCheck").checkbox("set enabled").click(function(){
                        if($(this).hasClass("toggleButton")) buttonToggle(this);
                        if($(this).hasClass("positiveButton")) buttonChecked(this);
                        if($(this).hasClass("negativeButton")) buttonUnchecked(this);
                    });
                    updateDom();
                },
                onUnchecked: function() {
                    $(this).parent().parent().children(".ui.checkbox.algorithmCheck").checkbox("set disabled");
                    $(this).parent().parent().children(".mini.buttons").children(".checkbox").unbind("click").checkbox("set disabled");
                    updateDom();
                }
            });

            /* initial */
            $('.toggle.checkbox.checkboxDisable').checkbox("set checked");

            /* name pos stats inside button */
            $(".ui.toggleButton.button").click(function(){
                buttonToggle(this);
            });
            $(".ui.positiveButton.button").click(function(){
                buttonChecked(this);
            });
            $(".ui.negativeButton.button").click(function(){
                buttonUnchecked(this);
            });

            /* radio check box select */
            $('.ui.checkbox.algorithmCheck').click(function(){
                updateDom();
            });

            /* sidebar */
            $("#sidebarButton").click(function(){
                $('.menu.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
            });
        }

        function buttonToggle(ele){
            $(ele).parent().parent().children(".ui.checkbox.algorithmCheck").checkbox("toggle");
            updateDom();
        }

        function buttonChecked(ele){
            $(ele).parent().parent().children(".ui.checkbox.algorithmCheck").checkbox("set checked");
            updateDom();
        }

        function buttonUnchecked(ele){
            $(ele).parent().parent().children(".ui.checkbox.algorithmCheck").checkbox("set unchecked");
            updateDom();
        }

        function updateDom(){
            updateChoiceStatus();
            showAlgorithm();
        }

        updateChoiceStatus();
        function updateChoiceStatus(){
            for(let key in choiceStatus) choiceStatus[key] = false;
            choiceStatus["weekType"] = Number($(".item.weekType.active").attr('id').replace("weekType", ""));
            choiceStatus["nameDisable"] = $("#nameCheckBoxDisable").checkbox("is checked");
            choiceStatus["posDisable"] = $("#posCheckBoxDisable").checkbox("is checked");
            choiceStatus["statsDisable"] = $("#statsCheckBoxDisable").checkbox("is checked");

            let check = $(".ui.checkbox.algorithmCheck");
            for(let i = 0; i < check.length; i ++){
                choiceStatus[$(check[i]).attr('id')] = $(check[i]).checkbox("is checked");
            }
        }

        // showAlgorithm();
        function showAlgorithm(){
            /* decide which to show */
            let aData_1 = []

            for(let i in algorithmData){
                if(choiceStatus["weekType"] == Number(algorithmData[i].week) || choiceStatus["weekType"] == 7){
                    let thisAl = {}
                    for(let key in algorithmData[i]) thisAl[key] = algorithmData[i][key];
                    aData_1.push(thisAl);
                }
            }

            // calculate stats
            let aData_2 = []
            if(!choiceStatus["statsDisable"]){
                for(let i in aData_1){
                    let sign = false;

                    for(let j in aData_2){
                        if(aData_1[i].week == aData_2[j].week && aData_1[i].name_id == aData_2[j].name_id && aData_1[i].pos == aData_2[j].pos){
                            aData_2[j]["getnum"] += aData_1[i]["getnum"];
                            sign = true; 
                            break; 
                        }
                    }
                    if(!sign){ 
                        aData_1[i]["stats_id"] = "All"; 
                        aData_2.push(aData_1[i]); 
                    }
                }
            } else aData_2 = aData_1;

            // calculate pos
            let aData_3 = []
            if(!choiceStatus["posDisable"]){
                for(let i in aData_2){
                    let sign = false;

                    for(let j in aData_3){
                        if(aData_2[i].week == aData_3[j].week && aData_2[i].name_id == aData_3[j].name_id && aData_2[i].stats_id == aData_3[j].stats_id){
                            aData_3[j]["getnum"] += aData_2[i]["getnum"]; 
                            sign = true; 
                            break; 
                        }
                    }
                    if(!sign){ 
                        aData_2[i]["pos"] = "All"; 
                        aData_3.push(aData_2[i]); 
                    }
                }
            } else aData_3 = aData_2;
            

            // calculate algorithm name
            let aData_4 = []
            if(!choiceStatus["nameDisable"]){
                for(let i in aData_3){
                    let sign = false;

                    for(let j in aData_4){
                        if(aData_3[i].week == aData_4[j].week && aData_3[i].pos == aData_4[j].pos && aData_3[i].stats_id == aData_4[j].stats_id){
                            aData_4[j]["getnum"] += aData_3[i]["getnum"]; 
                            sign = true; 
                            break; 
                        }
                    }
                    if(!sign){ 
                        aData_3[i]["name_id"] = "All"; 
                        aData_4.push(aData_3[i]);
                    }
                }
            } else aData_4 = aData_3;

            let table = "";
            for(let i in aData_4){
                let pass = true;
                if(choiceStatus["statsDisable"] && !choiceStatus["algorithmStatsId_" + aData_4[i].stats_id]) pass = false;
                if(choiceStatus["posDisable"] && !choiceStatus["algorithmPos_" + aData_4[i].pos]) pass = false;
                if(choiceStatus["nameDisable"] && !choiceStatus["algorithmId_" + aData_4[i].name_id]) pass = false;
                if(pass) table += createAlgorithmSingle(aData_4[i]);
            }

            $("#algorithmTable").children("tbody").children(".algorithmSingle").remove();
            $("#algorithmTable").children("tbody").html(table);
        }

        function createAlgorithmSingle(alData){
            let dom = `<tr class="algorithmSingle""><td>${alData.week}</td><td>${(alData.name_id == "All") ? "All" : algorithm[alData.name_id].name}</td><td>${alData.pos}</td>`;
            dom += `<td>${(alData.stats_id == "All") ? "All" : attribute[alData.stats_id]}</td><td>${alData.getnum}</td>`;
            dom += `<td>${alData.allnum}</td><td>${(Number(alData.allnum) == 0 ? 0 : (Number(alData.getnum) / Number(alData.allnum) * 100).toFixed(2))}%</td>`;
            dom += `<td>${alData.donum}</td><td>${(Number(alData.donum) == 0 ? 0 : (Number(alData.getnum) / Number(alData.donum) * 100).toFixed(2))}%</td></tr>`;

            return dom
        }
    </script>
</html>