<html>
    <head>
        <title>碎片搜索数据展示 | 绿洲气象观测站</title>
        <script type="text/javascript" src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EFRP4XN134"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-EFRP4XN134');
        </script>
        <style>
            body {
                text-align: center;
            }

            div#fragmentDispalyAll {
                margin: 20px;
            }


            .ui.workItemDiv {
                text-align: left;
            }

            /* -- Semantic UI -- */
            .ui.segment {
                width: 100%;
                max-width: 900px;
                margin: 20px auto;
            }

            .ui.menu.sidebar {
                text-align: left;
                font-size: 16px;
            }

            div#sidebarButton {
                float: left;
            }

            h1.ui.header {
                text-align: right;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="ui left vertical menu sidebar">
            {% for menu in menu_list %}
                <div class="item">
                    <div class="header">{{ menu.name }}</div>
                    <div class="menu">
                        {% for item in menu.child %}
                            <a class="item" href="{{ item.href }}">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pusher">
            <br/>
            <div class="ui segment">
                <div class="ui basic button" id="sidebarButton">
                    <i class="th list icon"></i>
                    Menu
                </div>
                <h1 class="ui header">
                    <div class="content">
                        心智碎片搜索数据展示
                    </div>
                </h1>
            </div>
            <div class="ui segment" style="min-height: 1200px;">
                <div class="ui five statistics">
                    <div class="statistic" id="statistic_stage">
                        <div class="value">
                            Default
                        </div>
                        <div class="label">
                            搜索次数
                        </div>
                    </div>
                    <div class="statistic" id="statistic_fragment">
                        <div class="value">
                            Default
                        </div>
                        <div class="label">
                            碎片获取
                        </div>
                    </div>
                    <div class="statistic" id="statistic_gift1">
                        <div class="value">
                            Default
                        </div>
                        <div class="label">
                            礼物(橙)获取
                        </div>
                    </div>
                    <div class="statistic" id="statistic_gift2">
                        <div class="value">
                            Default
                        </div>
                        <div class="label">
                            礼物(紫)获取
                        </div>
                    </div>
                    <div class="statistic" id="statistic_gift3">
                        <div class="value">
                            Default
                        </div>
                        <div class="label">
                            礼物(蓝)获取
                        </div>
                    </div>
                </div>
                <div id="fragmentDispalyAll">
                </div>

                <div class="ui horizontal divider">
                    EACH DOLL
                </div>

                <div class="ui secondary pointing menu">
                    <a class="item active workItem" id="work_1">
                        守卫
                    </a>
                    <a class="item workItem" id="work_2">
                        射手
                    </a>
                    <a class="item workItem" id="work_3">
                        战士
                    </a>
                    <a class="item workItem" id="work_4">
                        特种
                    </a>
                    <a class="item workItem" id="work_5">
                        医师
                    </a>
                    <!--
                        <div class="right menu">
                            <a class="ui item workItem"  id="work_0">
                                Logout
                            </a>
                        </div>
                    -->
                </div>
                <div class="ui styled fluid workItemDiv accordion">
                </div>
            </div>
            
            <a target="_blank" href="https://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;margin: 5px 10px;">
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    冀ICP备2021026039号-1 
                </p>
            </a>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13020302001036" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;margin: 5px 10px;">
                <img src="" style="float:left;">
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    冀公网安备 13020302001036号
                </p>
            </a>
        </div>
    </body>
    <script>
        var work;
        var doll;
        var attribute;
        
        fetch('/json/work').then(response => response.json()).then(data => work = data).then(() => {fetchJudge();});
        fetch('/json/doll').then(response => response.json()).then(data => doll = data).then(() => {fetchJudge();});

        function fetchJudge(){
            if(work && doll) initialTrigger();
        }

        var fragment = {{ fragment_dict | safe }};

        function initialTrigger(){
            $('.ui.dropdown').dropdown();
            $('.ui.accordion').accordion();

            createAllStatus();
            createEachWork();

            /* workType chose */
            $(".workItem").click(function(){
                $(".workItem").removeClass("active");
                $(this).addClass("active");
                createEachWork();
            });

            /* sidebar */
            $("#sidebarButton").click(function(){
                $('.menu.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
            });
        }

        function createAllStatus(){
            let status = {
                "fragment": 0,
                "gift1": 0,
                "gift2": 0,
                "gift3": 0,
                "stage": 0,
            }

            for(let dollid in fragment){
                for(let key in status){
                    status[key] += fragment[dollid][key];
                }
            }

            for(let key in status){
                $("#statistic_" + key).children(".value").html(status[key]);
            }

            let table = 
            `<table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>统计</th>
                        <th>出击</th>
                        <th>碎片获取</th>
                        <th>礼物(橙)获取</th>
                        <th>礼物(紫)获取</th>
                        <th>礼物(蓝)获取</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>数量</td>
                        <td>${status["stage"]}</td>
                        <td>${status["fragment"]}</td>
                        <td>${status["gift1"]}</td>
                        <td>${status["gift2"]}</td>
                        <td>${status["gift3"]}</td>
                    </tr>
                    <tr>
                        <td>频率</td>
                        <td>${(status["stage"] / status["stage"] * 100).toFixed(2)}%</td>
                        <td>${(status["fragment"] / status["stage"] * 100).toFixed(2)}%</td>
                        <td>${(status["gift1"] / status["stage"] * 100).toFixed(2)}%</td>
                        <td>${(status["gift2"] / status["stage"] * 100).toFixed(2)}%</td>
                        <td>${(status["gift3"] / status["stage"] * 100).toFixed(2)}%</td>
                    </tr>
                </tbody>
            </table>`;

            $("#fragmentDispalyAll").append(table);
        }

        function createEachWork(){
            let work_id = $(".workItem.active").attr("id").replace("work_", "");
            $(".workItemDiv").children(".dollFragment").remove();
            for(let doll_id in doll){
                if(doll[doll_id]["job"] == work_id){
                    $(".workItemDiv").append(createEachDoll(doll_id));
                }
            }
        }

        function createEachDoll(doll_id){
            let frequent = (Number(fragment[doll_id]["stage"]) == 0 ? 0 : fragment[doll_id]["fragment"] / fragment[doll_id]["stage"]).toFixed(2)

            let table = 
            `<div class="dollFragment title">
                <i class="dropdown icon"></i>
                ${doll[doll_id]["name"]}
                <small style="float: right;">${frequent} * ${fragment[doll_id]["stage"]} ( mean * quantity ) </small>
            </div>
            <div class="dollFragment content">
                <table class="ui sortable celled table">
                    <thead>
                        <tr>
                            <th>物品</th>
                            <th>均值</th>
                            <th>总计</th>
                            <th>Stage1</th>
                            <th>Stage2</th>
                            <th>Stage3</th>
                            <th>Stage4</th>
                            <th>Stage5</th>
                            <th>Stage6</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>搜索次数</td>
                            <td>${(fragment[doll_id]["stage"] / fragment[doll_id]["stage"]).toFixed(2)}</td>
                            <td>${fragment[doll_id]["stage"]}</td>
                            <td>${fragment[doll_id]["stage1"]}</td>
                            <td>${fragment[doll_id]["stage2"]}</td>
                            <td>${fragment[doll_id]["stage3"]}</td>
                            <td>${fragment[doll_id]["stage4"]}</td>
                            <td>${fragment[doll_id]["stage5"]}</td>
                            <td>${fragment[doll_id]["stage6"]}</td>
                        </tr>
                        <tr>
                            <td>碎片获取均值</td>
                            <td>${(fragment[doll_id]["fragment"] / fragment[doll_id]["stage"]).toFixed(2)}</td>
                            <td>${fragment[doll_id]["fragment"]}</td>
                            <td>${fragment[doll_id]["s1_f"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s2_f"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s3_f"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s4_f"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s5_f"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s6_f"].toFixed(2)}</td>
                        </tr>
                        <tr>
                            <td>礼物(橙)获取均值</td>
                            <td>${(fragment[doll_id]["gift1"] / fragment[doll_id]["stage"]).toFixed(2)}</td>
                            <td>${fragment[doll_id]["gift1"]}</td>
                            <td>${fragment[doll_id]["s1_g1"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s2_g1"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s3_g1"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s4_g1"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s5_g1"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s6_g1"].toFixed(2)}</td>
                        </tr>
                        <tr>
                            <td>礼物(紫)获取均值</td>
                            <td>${(fragment[doll_id]["gift2"] / fragment[doll_id]["stage"]).toFixed(2)}</td>
                            <td>${fragment[doll_id]["gift2"]}</td>
                            <td>${fragment[doll_id]["s1_g2"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s2_g2"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s3_g2"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s4_g2"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s5_g2"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s6_g2"].toFixed(2)}</td>
                        </tr>
                        <tr>
                            <td>礼物(蓝)获取均值</td>
                            <td>${(fragment[doll_id]["gift3"] / fragment[doll_id]["stage"]).toFixed(2)}</td>
                            <td>${fragment[doll_id]["gift3"]}</td>
                            <td>${fragment[doll_id]["s1_g3"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s2_g3"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s3_g3"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s4_g3"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s5_g3"].toFixed(2)}</td>
                            <td>${fragment[doll_id]["s6_g3"].toFixed(2)}</td>
                        </tr>
                    </tbody>
                </table>
            </div>`;

            return table
        }

    </script>
</html>