<html>
    <head>
        <title>跳转 | 绿洲气象观测站</title>
        <script type="text/javascript" src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body>
        <br>
        <div class="ui raised segment" style="max-width: 900px; margin: 20px auto;">
            <h2>绿洲气象观测站</h2>
            网站域名备案成功，端口号从4222转移到80，请访问
            <a class="item" href="http://oasismos.com">
                oasismos.com
            </a>
            <br/>
            <a href="https://beian.miit.gov.cn/" style="position: fixed; bottom: 10px; right: 20px; color: #888;">
                冀ICP备2021026039号-1
            </a>
        </div>
    </body>
</html>