<html>
    <head>
        <title>基础检索提交记录 | 绿洲气象观测站</title>
        <script type="text/javascript" src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/blueimp-md5/2.18.0/js/md5.min.js"></script>
        <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="../static/item.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EFRP4XN134"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-EFRP4XN134');
        </script>
        <style>
            .ui.menu.sidebar {
                text-align: left;
                font-size: 16px;
            }

            div#sidebarButton {
                float: left;
            }

            h1.ui.header {
                text-align: right;
                margin: auto;
            }

            p.item.transition {
                position: relative;
                left: 40px;
            }

            .pusher {
                text-align: center;
            }

            .title {
                text-align: left;
            }

            p.item {
                text-align: left;
            }
            
            .ui.header .content {
                font-weight: normal;
                letter-spacing: 10px;
            }
        </style>
    </head>
    <body>
        <div class="ui left vertical menu sidebar">
            {% for menu in menu_list %}
                <div class="item">
                    <div class="header">{{ menu.name }}</div>
                    <div class="menu">
                        {% for item in menu.child %}
                            <a class="item" href="{{ item.href }}">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pusher">
            <br/>
            <div class="ui segment">
                <div class="ui basic button" id="sidebarButton">
                    <i class="th list icon"></i>
                    Menu
                </div>
                <h1 class="ui header">
                    <div class="content">
                        近期提交记录
                    </div>
                </h1>
            </div>
            <div class="ui segment">
                <div class="ui two statistics">
                    <div class="statistic">
                        <div class="value">
                            {{ statistic.listNum }}
                        </div>
                        <div class="label">
                            教授提交次数
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            {{ statistic.getNum }}
                        </div>
                        <div class="label">
                            总计检索次数
                        </div>
                    </div>
                </div>
                <h4 class="ui horizontal divider header">
                    History
                </h4>
                <div class="ui styled fluid accordion">
                    {% for retrieval in retrieval_list %}
                        <div class="title">
                            <i class="dropdown icon"></i>
                            No.{{ retrieval.no }} 检索{{ retrieval.number }}次
                            <small style="float: right;">{{ retrieval.time }}</small>
                        </div>
                        <div class="content ui list retrievalDiv">
                            {% for retrieval_single in retrieval.data %}
                                <div class="transition hidden item retrievalId">
                                    {{ retrieval_single }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <a target="_blank" href="https://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;margin: 5px 10px;">
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    冀ICP备2021026039号-1 
                </p>
            </a>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13020302001036" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;margin: 5px 10px;">
                <img src="" style="float:left;">
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    冀公网安备 13020302001036号
                </p>
            </a>
        </div>
        <br/>
    </body>
    <script>
        var work;
        var item;
        
        fetch('/json/work').then(response => response.json()).then(data => work = data).then(() => {fetchJudge();});
        fetch('/json/item').then(response => response.json()).then(data => item = data).then(() => {fetchJudge();});

        function fetchJudge(){
            if(work && item) initial();
        }

        function initial(){
            $('.ui.accordion').accordion();
            /* sidebar */
            $("#sidebarButton").click(function(){
                $('.menu.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
            });

            let element_div = $(".retrievalDiv");
            for(let i = 0; i < element_div.length; i ++){
                let this_dom = ``;
                let element_id = $(element_div[i]).children(".retrievalId");

                for(let j = 0; j < element_id.length; j ++){
                    let this_id = $(element_id[j]).html().replace(/[ \n]/g, "");
                    this_dom += itemTypeAllCreate(this_id);
                }

                $(element_div[i]).html(this_dom);
            }

        }

        function itemTypeAllCreate(id){
            let itemType = id.split("_")[0];
            let dom = ``;
            
            switch("itemType_" + itemType){
                case "itemType_doll":{
                    dom = dollSquareCreate(id, item["doll"][id]["name"], item["doll"][id]["card"], false, item["doll"][id]["rarity"], false);
                } break;
                case "itemType_mindf":{
                    let img_name = "ICON_Item_" + String(Number(id.split("_")[1]) + 1000) + ".png";
                    let img_md5 = md5(img_name).slice(0,2);
                    let img_path = `http://wiki.42lab.cloud/images/${img_md5[0]}/${img_md5}/${img_name}`;
                    let icon_path = "http://wiki.42lab.cloud/images/3/3f/%E9%80%9A%E7%94%A8_%E7%A2%8E%E7%89%87.png";
                    dom = itemSquareCreate(id, "心智碎片", img_path, 1, 4, icon_path);
                } break;
                case "itemType_minds":{
                    let img_path = `http://wiki.42lab.cloud/images/a/a7/ICON_Item_%E5%BF%83%E6%99%BA%E6%9E%84%E4%BB%B6.png`;
                    let icon_path = "http://wiki.42lab.cloud/images/1/10/ICON_small_Item_%E5%BF%83%E6%99%BA%E6%9E%84%E4%BB%B6.png";
                    dom = itemSquareCreate(id, item["minds"][id]["name"], img_path, item["minds"][id]["number"], 5, icon_path);
                } break;
                case "itemType_factory":{
                    let img_name = "ICON_Item_" + item["factory"][id]["name"] + ".png";
                    let img_md5 = md5(img_name).slice(0,2);
                    let img_path = `http://wiki.42lab.cloud/images/${img_md5[0]}/${img_md5}/${img_name}`;
                    
                    dom = itemSquareCreate(id, item["factory"][id]["name"], img_path, 5, item["factory"][id]["rarity"], false);
                } break;
                case "itemType_xp":{
                    let img_name = "ICON_Item_" + item["xp"][id]["name"] + ".png";
                    let img_md5 = md5(img_name).slice(0,2);
                    let img_path = `http://wiki.42lab.cloud/images/${img_md5[0]}/${img_md5}/${img_name}`;
                    let icon_path = "http://wiki.42lab.cloud/images/3/3d/ICON_small_Item_%E4%BD%9C%E6%88%98%E7%BB%8F%E9%AA%8C_2.png";
                    dom = itemSquareCreate(id, item["xp"][id]["name"], img_path, item["xp"][id]["number"], item["xp"][id]["rarity"], icon_path);
                } break;
                case "itemType_gift":{
                    let img_name = "Icon_gift_" + item["gift"][id]["name"] + ".png";
                    let img_md5 = md5(img_name).slice(0,2);
                    let img_path = `http://wiki.42lab.cloud/images/${img_md5[0]}/${img_md5}/${img_name}`;
                    dom = itemSquareCreate(id, item["gift"][id]["name"], img_path, 1, item["gift"][id]["rarity"], false);
                } break;
                case "itemType_ctrl":{
                    let img_name = "ICON_Item_" + item["ctrl"][id]["name"] + ".png";
                    let img_md5 = md5(img_name).slice(0,2);
                    let img_path = `http://wiki.42lab.cloud/images/${img_md5[0]}/${img_md5}/${img_name}`;
                    
                    let icon_name = "ICON_small_Item_" + item["ctrl"][id]["name"].slice(2, item["ctrl"][id]["name"].length) + ".png";
                    let icon_md5 = md5(icon_name).slice(0,2);
                    let icon_path = `http://wiki.42lab.cloud/images/${icon_md5[0]}/${icon_md5}/${icon_name}`;

                    dom = itemSquareCreate(id, item["ctrl"][id]["name"], img_path, 1, item["ctrl"][id]["rarity"], icon_path);
                } break;
            }

            return dom
        }

        
        function itemSquareCreate(id, text, img, num, rarity, icon){
            return `
            <div class="itemDiv">
                <div class="itemIcon rarity${rarity}" data-id="${id}">
                    ${(icon) ? `<div class="overlay">
                        <img src="http://wiki.42lab.cloud/images/d/d2/Blank.png" class="subicon tl" style="background-image:url(${icon})" />
                    </div>` : ``}
                    <a><img alt="${text}" class="mainicon" src="http://wiki.42lab.cloud/images/d/d2/Blank.png" style="background-image:url(${img})">
                        <div class="plate"></div>
                        <div class="back"></div>
                    </a>
                    <div class="itemNumber">${num}</div>
                </div>
                <div class="itemText">${text}</div>
            </div>`;
        }

        function dollSquareCreate(id, text, img, num, rarity, icon){
            return `
            <div class="itemDiv">
                <div class="itemIcon dollSquare rarity${rarity}" data-id="${id}">
                    <a><img alt="${text}" class="dollicon" src="http://wiki.42lab.cloud/images/d/d2/Blank.png" style="background-image:url(${img})">
                    </a>
                </div>
                <div class="itemText">${text}</div>
            </div>`;
        }

        function dollLabelCreate(){
            let element = $("#itemChosen").children(".itemDiv");
            for(let i = 0; i < element.length; i++){
                $(element[i]).children(".floating.label").html(i + 1);
            }
        }
    </script>
</html>