<html>
    <head>
        <title>基础检索数据展示 | 绿洲气象观测站</title>
        <script type="text/javascript" src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EFRP4XN134"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-EFRP4XN134');
        </script>
        <style>
            body {
                text-align: center;
            }

            div#retrievalDispalyAll {
                margin: 20px;
            }


            .ui.workItemDiv {
                text-align: left;
            }

            table.ui.table {
                text-align: right;
            }

            /* -- Semantic UI -- */
            .ui.segment {
                width: 100%;
                max-width: 900px;
                margin: 20px auto;
            }

            .ui.menu.sidebar {
                text-align: left;
                font-size: 16px;
            }

            div#sidebarButton {
                float: left;
            }

            h1.ui.header {
                text-align: right;
                margin: auto;
            }

            .accordion {
                text-align: left;
            }
            
            .ui.header .content {
                font-weight: normal;
                letter-spacing: 10px;
            }
        </style>
    </head>
    <body>
        <div class="ui left vertical menu sidebar">
            {% for menu in menu_list %}
                <div class="item">
                    <div class="header">{{ menu.name }}</div>
                    <div class="menu">
                        {% for item in menu.child %}
                            <a class="item" href="{{ item.href }}">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pusher">
            <br/>
            <div class="ui segment">
                <div class="ui basic button" id="sidebarButton">
                    <i class="th list icon"></i>
                    Menu
                </div>
                <h1 class="ui header">
                    <div class="content">
                        基础检索数据展示
                    </div>
                </h1>
            </div>
            <div class="ui segment" style="min-height: 1200px;">
                <div id="retrievalDispalyAll">
                </div>

                <div class="ui horizontal divider">
                    EACH Category
                </div>
                
                <div id="retrievalDispalySingle">
                </div>
            </div>
            
            <a target="_blank" href="https://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;margin: 5px 10px;">
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    冀ICP备2021026039号-1 
                </p>
            </a>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13020302001036" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;margin: 5px 10px;">
                <img src="" style="float:left;">
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    冀公网安备 13020302001036号
                </p>
            </a>
        </div>
    </body>
    <script>
        var item;
        fetch('/json/item').then(response => response.json()).then(data => item = data).then(() => {initialTrigger();});

        var item_dict = {{ item_dict | safe }};
        var item_total = {{ item_total | safe }};


        // doll display table
        var item_doll = {
            "total": 0,
            "rarity3": 0,
            "rarity4": 0,
            "rarity5": 0,
        }

        function createItemDoll(){
            for(let id in item["doll"]){
                item_doll["total"] += item_dict[id];
                item_doll["rarity" + item["doll"][id]["rarity"]] += item_dict[id];
            }

            let dom = `
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>类型</th>
                        <th>1星人形</th>
                        <th>2星人形</th>
                        <th>3星人形</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>数量</td>
                        <td>${item_doll["rarity3"]}</td>
                        <td>${item_doll["rarity4"]}</td>
                        <td>${item_doll["rarity5"]}</td>
                    </tr>
                    <tr>
                        <td>频率(检索)</td>
                        <td>${(item_doll["rarity3"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_doll["rarity4"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_doll["rarity5"] / item_total * 100).toFixed(3)}%</td>
                    </tr>
                    <tr>
                        <td>频率(人形)</td>
                        <td>${(item_doll["rarity3"] / item_doll["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_doll["rarity4"] / item_doll["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_doll["rarity5"] / item_doll["total"] * 100).toFixed(3)}%</td>
                    </tr>
                </tbody>
            </table>
            <div class="ui horizontal divider">DETAIL</div>
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>人形</th>
                        <th>星级</th>
                        <th>样本数</th>
                        <th>频率(检索)</th>
                        <th>频率(人形)</th>
                        <th>频率(星级)</th>
                    </tr>
                </thead>
                <tbody>`;

            for(let id in item["doll"]){
                dom += 
                `<tr>
                    <td>${id.split("_")[1]}</td>
                    <td>${item["doll"][id]["name"]}</td>
                    <td>${String(Number(item["doll"][id]["rarity"])-2)}</td>
                    <td>${item_dict[id]}</td>
                    <td>${(item_dict[id] / item_total * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_doll["total"] * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_doll["rarity" + item["doll"][id]["rarity"]] * 100).toFixed(3)}%</td>
                </tr>`;
            }

            dom += `</tbody></table>`;
            return dom;
        }
        
        // mind fragment display table
        var item_mindf = {
            "total": 0,
            "rarity3": 0,
            "rarity4": 0,
            "rarity5": 0,
        }

        function createItemMindF(){
            for(let id in item["mindf"]){
                item_mindf["total"] += item_dict[id];
                item_mindf["rarity" + item["mindf"][id]["rarity"]] += item_dict[id];
            }

            let dom = `
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>类型</th>
                        <th>1星人形碎片</th>
                        <th>2星人形碎片</th>
                        <th>3星人形碎片</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>数量</td>
                        <td>${item_mindf["rarity3"]}</td>
                        <td>${item_mindf["rarity4"]}</td>
                        <td>${item_mindf["rarity5"]}</td>
                    </tr>
                    <tr>
                        <td>频率(检索)</td>
                        <td>${(item_mindf["rarity3"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_mindf["rarity4"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_mindf["rarity5"] / item_total * 100).toFixed(3)}%</td>
                    </tr>
                    <tr>
                        <td>频率(碎片)</td>
                        <td>${(item_mindf["rarity3"] / item_mindf["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_mindf["rarity4"] / item_mindf["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_mindf["rarity5"] / item_mindf["total"] * 100).toFixed(3)}%</td>
                    </tr>
                </tbody>
            </table>
            <div class="ui horizontal divider">DETAIL</div>
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui vertical fluid tabular menu">
                        <a class="item active workItem" id="work_1" onclick="workItemClick(1);">
                            守卫
                        </a>
                        <a class="item workItem" id="work_2" onclick="workItemClick(2);">
                            射手
                        </a>
                        <a class="item workItem" id="work_3" onclick="workItemClick(3);">
                            战士
                        </a>
                        <a class="item workItem" id="work_4" onclick="workItemClick(4);">
                            特种
                        </a>
                        <a class="item workItem" id="work_5" onclick="workItemClick(5);">
                            医师
                        </a>
                    </div>
                </div>
                <div class="twelve wide stretched column" id="minftablediv">
                    ${createItemMinfTable("1")}
                </div>
            </div>`;

            return dom
        }

        function workItemClick(id){
            $(".workItem").removeClass("active");
            $("#work_" + id).addClass("active");
            $("#minftablediv").html(createItemMinfTable(id))
        }

        function createItemMinfTable(work){
            let table = 
            `<table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>心智碎片</th>
                        <th>星级</th>
                        <th>样本数</th>
                        <th>频率(检索)</th>
                        <th>频率(碎片)</th>
                        <th>频率(星级)</th>
                    </tr>
                </thead>
                <tbody>`;

            for(let id in item["mindf"]){
                if(work != String(item["mindf"][id]["job"])) continue;
                table += 
                `<tr>
                    <td>${id.split("_")[1]}</td>
                    <td>${item["mindf"][id]["name"]}</td>
                    <td>${String(Number(item["mindf"][id]["rarity"]) - 2)}</td>
                    <td>${item_dict[id]}</td>
                    <td>${(item_dict[id] / item_total * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_mindf["total"] * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_mindf["rarity" + item["mindf"][id]["rarity"]] * 100).toFixed(3)}%</td>
                </tr>`;
            }

            table += `</tbody></table>`;
            return table;
        }

        
        // mind structure display table
        var item_minds = {
            "total": 0,
            "calculate": 0,
        }

        function createItemMinds(){
            for(let id in item["minds"]){
                item_minds["total"] += item_dict[id];
                item_doll["calculate"] += Number(item_dict[id]) * item["minds"][id]["number"];
            }

            let dom = `
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>数量</th>
                        <th>样本数</th>
                        <th>频率(检索)</th>
                        <th>均值(检索)</th>
                    </tr>
                </thead>
                <tbody>`;

            for(let id in item["minds"]){
                dom += 
                `<tr>
                    <td>${item["minds"][id]["name"]}</td>
                    <td>${item["minds"][id]["number"]}</td>
                    <td>${item_dict[id]}</td>
                    <td>${(item_dict[id] / item_total * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] * Number(item["minds"][id]["number"]) / item_total).toFixed(3)}</td>
                </tr>`;
            }

            dom += `</tbody></table>`;
            return dom;
        }
        
        // factory display table
        var item_factory = {
            "total": 0,
            "rarity2": 0,
            "rarity3": 0,
            "rarity4": 0,
        }

        function createItemFactory(){
            for(let id in item["factory"]){
                item_factory["total"] += item_dict[id];
                item_factory["rarity" + item["factory"][id]["rarity"]] += item_dict[id];
            }

            let dom = `
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>类型</th>
                        <th>低模数据</th>
                        <th>中模数据</th>
                        <th>高模数据</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>样本数</td>
                        <td>${item_factory["rarity2"]}</td>
                        <td>${item_factory["rarity3"]}</td>
                        <td>${item_factory["rarity4"]}</td>
                    </tr>
                    <tr>
                        <td>频率(检索)</td>
                        <td>${(item_factory["rarity2"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_factory["rarity3"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_factory["rarity4"] / item_total * 100).toFixed(3)}%</td>
                    </tr>
                    <tr>
                        <td>频率(数据)</td>
                        <td>${(item_factory["rarity2"] / item_factory["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_factory["rarity3"] / item_factory["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_factory["rarity4"] / item_factory["total"] * 100).toFixed(3)}%</td>
                    </tr>
                </tbody>
            </table>
            <div class="ui horizontal divider">DETAIL</div>
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>数量</th>
                        <th>样本数</th>
                        <th>频率(检索)</th>
                        <th>频率(数据)</th>
                        <th>频率(稀有度)</th>
                        <th>均值(检索)</th>
                    </tr>
                </thead>
                <tbody>`;

            for(let id in item["factory"]){
                dom += 
                `<tr>
                    <td>${item["factory"][id]["name"]}</td>
                    <td>5</td>
                    <td>${item_dict[id]}</td>
                    <td>${(item_dict[id] / item_total * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_factory["total"] * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_factory["rarity" + item["factory"][id]["rarity"]] * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_total * 5).toFixed(3)}</td>
                </tr>`;
            }

            dom += `</tbody></table>`;
            return dom;
        }
 
        // xp display table
        var item_xp = {
            "total": 0,
            "rarity3": 0,
            "rarity4": 0,
            "rarity5": 0,
            "rarity3_1": 0,
            "rarity4_1": 0,
            "rarity5_1": 0,
        }

        function createItemXP(){
            for(let id in item["xp"]){
                item_xp["total"] += item_dict[id];
                item_xp["rarity" + item["xp"][id]["rarity"]] += item_dict[id];
                item_xp["rarity" + item["xp"][id]["rarity"] + "_1"] += item_dict[id] * item["xp"][id]["number"];
            }

            let dom = `
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>类型</th>
                        <th>作战经验*100</th>
                        <th>作战经验*600</th>
                        <th>作战经验*3600</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>样本数</td>
                        <td>${item_xp["rarity3"]}</td>
                        <td>${item_xp["rarity4"]}</td>
                        <td>${item_xp["rarity5"]}</td>
                    </tr>
                    <tr>
                        <td>频率(检索)</td>
                        <td>${(item_xp["rarity3"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_xp["rarity4"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_xp["rarity5"] / item_total * 100).toFixed(3)}%</td>
                    </tr>
                    <tr>
                        <td>均值(检索)</td>
                        <td>${(item_xp["rarity3_1"] / item_total).toFixed(3)}</td>
                        <td>${(item_xp["rarity4_1"] / item_total).toFixed(3)}</td>
                        <td>${(item_xp["rarity5_1"] / item_total).toFixed(3)}</td>
                    </tr>
                    <tr>
                        <td>平均经验(检索)</td>
                        <td>${(item_xp["rarity3_1"] / item_total * 100).toFixed(3)}</td>
                        <td>${(item_xp["rarity4_1"] / item_total * 600).toFixed(3)}</td>
                        <td>${(item_xp["rarity5_1"] / item_total * 3600).toFixed(3)}</td>
                    </tr>
                </tbody>
            </table>
            <div class="ui horizontal divider">DETAIL</div>
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>数量</th>
                        <th>样本数</th>
                        <th>频率(检索)</th>
                        <th>平均经验(检索)</th>
                    </tr>
                </thead>
                <tbody>`;

            for(let id in item["xp"]){
                dom += 
                `<tr>
                    <td>${item["xp"][id]["name"]}</td>
                    <td>${item["xp"][id]["number"]}</td>
                    <td>${item_dict[id]}</td>
                    <td>${(item_dict[id] / item_total * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_total * item["xp"][id]["number"] * item["xp"][id]["xp"]).toFixed(3)}</td>
                </tr>`;
            }

            dom += `</tbody></table>`;
            return dom;
        }

        // gift display table
        var item_gift = {
            "total": 0,
            "rarity3": 0,
            "rarity4": 0,
            "rarity5": 0,
        }

        function createItemGift(){
            for(let id in item["gift"]){
                item_gift["total"] += item_dict[id];
                item_gift["rarity" + item["gift"][id]["rarity"]] += item_dict[id];
            }

            let dom = `
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>类型</th>
                        <th>礼物(蓝)</th>
                        <th>礼物(紫)</th>
                        <th>礼物(橙)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>样本数</td>
                        <td>${item_gift["rarity3"]}</td>
                        <td>${item_gift["rarity4"]}</td>
                        <td>${item_gift["rarity5"]}</td>
                    </tr>
                    <tr>
                        <td>频率(检索)</td>
                        <td>${(item_gift["rarity3"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_gift["rarity4"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_gift["rarity5"] / item_total * 100).toFixed(3)}%</td>
                    </tr>
                    <tr>
                        <td>频率(礼物)</td>
                        <td>${(item_gift["rarity3"] / item_gift["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_gift["rarity4"] / item_gift["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_gift["rarity5"] / item_gift["total"] * 100).toFixed(3)}%</td>
                    </tr>
                </tbody>
            </table>
            <div class="ui horizontal divider">DETAIL</div>
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>稀有度</th>
                        <th>样本数</th>
                        <th>频率(检索)</th>
                        <th>频率(礼物)</th>
                        <th>频率(稀有度)</th>
                    </tr>
                </thead>
                <tbody>`;

            for(let id in item["gift"]){
                dom += 
                `<tr>
                    <td>${item["gift"][id]["name"]}</td>
                    <td>${item["gift"][id]["rarity"]}</td>
                    <td>${item_dict[id]}</td>
                    <td>${(item_dict[id] / item_total * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_gift["total"] * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_gift["rarity" + item["gift"][id]["rarity"]] * 100).toFixed(3)}%</td>
                </tr>`;
            }

            dom += `</tbody></table>`;
            return dom;
        }


        // gift display table
        var item_ctrl = {
            "total": 0,
            "rarity1": 0,
            "rarity2": 0,
            "rarity3": 0,
            "rarity4": 0,
            "rarity5": 0,
        }

        function createItemCtrl(){
            for(let id in item["ctrl"]){
                item_ctrl["total"] += item_dict[id];
                item_ctrl["rarity" + item["ctrl"][id]["rarity"]] += item_dict[id];
            }

            let dom = `
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>类型</th>
                        <th>简化</th>
                        <th>标准</th>
                        <th>高级</th>
                        <th>特级</th>
                        <th>尖端</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>样本数</td>
                        <td>${item_ctrl["rarity1"]}</td>
                        <td>${item_ctrl["rarity2"]}</td>
                        <td>${item_ctrl["rarity3"]}</td>
                        <td>${item_ctrl["rarity4"]}</td>
                        <td>${item_ctrl["rarity5"]}</td>
                    </tr>
                    <tr>
                        <td>频率(检索)</td>
                        <td>${(item_ctrl["rarity1"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_ctrl["rarity2"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_ctrl["rarity3"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_ctrl["rarity4"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_ctrl["rarity5"] / item_total * 100).toFixed(3)}%</td>
                    </tr>
                    <tr>
                        <td>频率(控件)</td>
                        <td>${(item_ctrl["rarity1"] / item_ctrl["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_ctrl["rarity2"] / item_ctrl["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_ctrl["rarity3"] / item_ctrl["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_ctrl["rarity4"] / item_ctrl["total"] * 100).toFixed(3)}%</td>
                        <td>${(item_ctrl["rarity5"] / item_ctrl["total"] * 100).toFixed(3)}%</td>
                    </tr>
                </tbody>
            </table>
            <div class="ui horizontal divider">DETAIL</div>
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>稀有度</th>
                        <th>样本数</th>
                        <th>频率(检索)</th>
                        <th>频率(控件)</th>
                        <th>频率(稀有度)</th>
                    </tr>
                </thead>
                <tbody>`;

            for(let id in item["ctrl"]){
                dom += 
                `<tr>
                    <td>${item["ctrl"][id]["name"]}</td>
                    <td>${item["ctrl"][id]["rarity"]}</td>
                    <td>${item_dict[id]}</td>
                    <td>${(item_dict[id] / item_total * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_ctrl["total"] * 100).toFixed(3)}%</td>
                    <td>${(item_dict[id] / item_ctrl["rarity" + item["ctrl"][id]["rarity"]] * 100).toFixed(3)}%</td>
                </tr>`;
            }

            dom += `</tbody></table>`;
            return dom;
        }

        function createAccordion(){
            $("#retrievalDispalySingle").html(
                `
                <div class="ui styled fluid accordion" id="retrievalDispalySingle">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        人形
                    </div>
                    <div class="content">
                        ${createItemDoll()}
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        心智碎片
                    </div>
                    <div class="content">
                        ${createItemMindF()}
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        心智构件
                    </div>
                    <div class="content">
                        ${createItemMinds()}    
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        加工厂材料
                    </div>
                    <div class="content">
                        ${createItemFactory()}    
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        经验
                    </div>
                    <div class="content">
                        ${createItemXP()}    
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        礼物
                    </div>
                    <div class="content">
                        ${createItemGift()}    
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        突破控件
                    </div>
                    <div class="content">
                        ${createItemCtrl()}    
                    </div>
                </div>
                `
            );

            $('.ui.accordion').accordion();
        }

        function createDisplayAll(){
            let table = 
            `
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th>总计</th>
                        <th>人形</th>
                        <th>心智碎片</th>
                        <th>心智构件</th>
                        <th>加工厂材料</th>
                        <th>经验</th>
                        <th>礼物</th>
                        <th>突破控件</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>${item_total}</td>
                        <td>${item_doll["total"]}</td>
                        <td>${item_mindf["total"]}</td>
                        <td>${item_minds["total"]}</td>
                        <td>${item_factory["total"]}</td>
                        <td>${item_xp["total"]}</td>
                        <td>${item_gift["total"]}</td>
                        <td>${item_ctrl["total"]}</td>
                    </tr>
                    <tr>
                        <td>${(item_total / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_doll["total"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_mindf["total"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_minds["total"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_factory["total"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_xp["total"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_gift["total"] / item_total * 100).toFixed(3)}%</td>
                        <td>${(item_ctrl["total"] / item_total * 100).toFixed(3)}%</td>
                    </tr>
                </tbody>
            </table>
            `;

            $("#retrievalDispalyAll").html(table);
        }

        function initialTrigger(){
            createAccordion();
            createDisplayAll();

            /* sidebar */
            $("#sidebarButton").click(function(){
                $('.menu.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
            });
        }
    </script>
</html>